html,
body {
  margin: 0;
  padding: 0;
  height: 100%;
  font-family: 'Open Sans Condensed', sans-serif;
}

.stop-scrolling {
  height: 100%;
  overflow: hidden;
}

.section {
  height: 100%;
  width: 100%;
}

a,
a:hover {
  text-decoration: none;
}

.socialbtns {
  text-align: center;
  /* To make icons larger */
  font-size: 20px;
}

.socialbtns,
.socialbtns ul,
.socialbtns li {
  margin: 0;
  padding: 5px;
}

.socialbtns li {
  list-style: none outside none;
  display: inline-block;
}

.socialbtns .fab {
  width: 40px;
  height: 28px;
  color: #fff;
  background-color: #000;
  padding-top: 10px;
  transition: all ease 1s;
  -moz-transition: all ease 1s;
  -webkit-transition: all ease 1s;
  -o-transition: all ease 1s;
}

.socialbtns .fab:hover {
  transform: scale(1.025);
}

.email-button a {
  background: black;
  font-family: 'Open Sans Condensed', sans-serif;
  font-size: 1.5em;
  font-weight: 300;
  z-index: 2;
  display: flex;
  align-items: center;
  justify-content: center;
  margin: auto;
  padding-bottom: 4px;
  width: 146px;
  height: 40px;
  border: 1px solid black;
  cursor: pointer;
  transition: all ease 0.5s;
  color: white;
}

.email-button a:hover {
  transform: scale(1.025);
}

.resume-button a {
  background: black;
  font-family: 'Open Sans Condensed', sans-serif;
  font-size: 1.5em;
  font-weight: 300;
  z-index: 2;
  display: flex;
  align-items: center;
  justify-content: center;
  margin: 12px auto 0 auto;
  padding-bottom: 4px;
  width: 146px;
  height: 40px;
  border: 1px solid black;
  cursor: pointer;
  transition: all ease 0.5s;
  color: white;
  text-decoration: none;
}

.resume-button a:hover {
  transform: scale(1.025);
}

.typewrite {
  font-family: 'Open Sans Condensed', sans-serif;
  font-size: 5em;
  font-weight: 300;
}

.container {
  width: 100vw;
  height: 88vh;
  height: 100%;
  display: flex;
  align-items: center;
}

.text {
  width: 40vw;
  margin-left: 100px;
  padding-bottom: 2em;
}

.button-section {
  position: absolute;
  margin-left: auto;
  margin-right: auto;
  left: 0;
  right: 0;
  text-align: center;
  bottom: 20px;
}

#pointer-down {
  cursor: pointer;
}

#pointer-up {
  cursor: pointer;
  text-align: center;
  font-size: 20px;
  position: absolute;
  bottom: 20px;
  margin-left: auto;
  margin-right: auto;
  left: 0;
  right: 0;
}

svg {
  --animate-duration: 2s;
}

.grid {
  display: grid;
  text-align: center;
  justify-content: space-around;
}

#first-project {
  grid-column: 1;
}
#second-project {
  grid-column: 2;
}

.project-container {
  margin-top: 2rem;
  padding-top: 3rem;
  max-width: 1000px;
  width: 700px;
  height: 80vh;
  /* border: 1px solid black; */
  border-radius: 10px;
  box-shadow: 8px 8px 8px 8px rgba(0, 0, 0, 0.25);
  transition: all 0.5s ease-in-out;
  color: black;
  display: flex;
  flex-direction: column;
  align-items: center;
}

.project-container a {
  color: black;
  display: flex;
  flex-direction: column;
  align-items: center;
}

.project-container:hover {
  transform: scale(1.05);
}

.project-container .project-image {
  /* height: 370px;  */
  width: 600px;
  height: 35vh;
  border-radius: 5px;
  display: flex;
  align-items: center;
  justify-content: space-around;
}

.project-name {
  font-size: 2.5rem;
  font-weight: 700;
  text-align: center;
}

.project-description {
  font-size: 1.625rem;
  margin: 3rem 6rem;
  font-weight: 300;
}

.ending-of-title {
  font-weight: 300;
}

.my-projects-text {
  font-family: 'Homemade Apple', cursive;
}

/* Arrow-bounce effect */

.bounce {
  -moz-animation: bounce 3s infinite;
  -webkit-animation: bounce 3s infinite;
  animation: bounce 3s infinite;
  justify-content: center;
  padding-top: 1rem;
}

.bounce-up {
  -moz-animation: bounce-up 3s infinite;
  -webkit-animation: bounce-up 3s infinite;
  animation: bounce-up 3s infinite;
  justify-content: center;
}

@keyframes bounce {
  0%,
  20%,
  50%,
  80%,
  100% {
    transform: translateY(0);
  }
  40% {
    transform: translateY(-20px);
  }
  60% {
    transform: translateY(-10px);
  }
}

@keyframes bounce-up {
  0%,
  20%,
  50%,
  80%,
  100% {
    transform: translateY(0);
  }
  40% {
    transform: translateY(20px);
  }
  60% {
    transform: translateY(10px);
  }
}

/* Animation */
@keyframes blinkTextCursor {
  from {
    border-right-color: black;
  }
  to {
    border-right-color: transparent;
  }
}
#eye {
  -webkit-animation: squeeze 3s infinite;
  animation: squeeze 3s infinite;
}

@keyframes squeeze {
  97% {
    -webkit-transform: none;
    transform: none;
    -webkit-animation-timing-function: ease-in;
    animation-timing-function: ease-in;
  }
  99% {
    -webkit-transform: translateY(215px) scaleY(0.1);
    transform: translateY(215px) scaleY(0.1);
  }
  100% {
    -webkit-animation-timing-function: ease-out;
    animation-timing-function: ease-out;
  }
}
.eyeball {
  animation: look 8s infinite;
}

@keyframes look {
  49% {
    -webkit-transform: none;
    transform: none;
    -webkit-animation-timing-function: linear;
    animation-timing-function: linear;
  }
  50% {
    -webkit-transform: translateY(-7px);
    transform: translateX(-7px);
  }
  95% {
    -webkit-transform: translateY(-7px);
    transform: translateX(-7px);
  }
  100% {
    -webkit-animation-timing-function: ease-out;
    animation-timing-function: ease-out;
  }
}
@media only screen and (max-width: 600px) {
  .text {
    margin: 0 1rem;
    width: 70vw;
  }

  svg {
    height: 317.33px;
    width: 320.66px;
    /* margin-left: 5rem; */
  }

  .container {
    height: 40vh;
    display: flex;
    align-items: center;
    font-size: 0.3em;
    line-height: 1.2;
  }

  .typewrite {
    font-size: 4em;
  }

  #second-section {
    grid-template-columns: 1fr;
    justify-items: center;
  }

  #second-project {
    display: none;
  }

  .project-container {
    width: 300px;
    height: 420px;
    padding-top: 1rem;
    margin-bottom: 5rem;
  }

  .project-container .project-image {
    width: 280px;
    height: 175px;
  }

  .project-name {
    font-size: 1.5rem;
    margin: 0;
  }

  .project-description {
    font-size: 1.1rem;
    margin: 0.3rem 1rem;
  }

  #pointer-up {
    margin-top: 1.5rem;
  }
}

@media only screen and (min-width: 601px) and (max-width: 950px) {
  .text {
    margin-left: 3em;
    margin-top: 5em;
  }

  .container {
    height: 50vh;
    display: flex;
    align-items: center;
    font-size: 0.3em;
    line-height: 1.2;
  }

  #second-section {
    display: flex;
    justify-content: center;
    align-items: center;
  }

  #second-project {
    display: none;
  }

  .project-container {
    width: 300px;
    height: 420px;
    padding-top: 1rem;
    margin-bottom: 5rem;
  }

  .project-container .project-image {
    width: 280px;
    height: 175px;
  }

  .project-name {
    font-size: 1.5rem;
    margin: 0;
  }

  .project-description {
    font-size: 1.1rem;
    margin: 0.3rem 1rem;
  }

  #pointer-up {
    margin-top: 1.5rem;
  }
}
@media only screen and (max-width: 950px) and (orientation: landscape) {
  .text {
    margin-left: 3em;
  }

  svg {
    height: 238px;
    width: 240.5px;
    margin-left: 30rem;
  }

  .container {
    height: 55vh;
    display: flex;
    align-items: center;
    font-size: 0.4em;
    line-height: 1.2;
  }
}

@media only screen and (min-width: 950px) and (max-width: 1200px) {
  .container {
    height: 75vh;
    display: flex;
    align-items: center;
    font-size: 0.4em;
    line-height: 1.2;
  }

  svg {
    height: 471.46px;
    width: 477.13px;
    margin-left: 15em;
  }

  #second-section {
    grid-template-columns: 1fr;
    justify-items: center;
  }

  #second-project {
    display: none;
  }

  /* #second-section {
    grid-template-columns: auto;
    padding: 1rem;
  } */

  /* Card  */

  .project-container {
    width: 500px;
    height: 600px;
    font-size: 1rem;
  }

  .project-container .project-image {
    height: 246.6px;
    width: 400px;
  }

  .project-name {
    font-size: 2rem;
  }

  .project-description {
    font-size: 1.5rem;
    margin: 1rem 2rem;
  }
}

@media only screen and (min-width: 1201px) and (max-width: 1500px) {
  .text {
    margin-top: 5em;
  }

  .typewrite {
    font-size: 4.5em;
  }

  .container {
    height: 75vh;
    display: flex;
    align-items: center;
    margin-bottom: 2em;
  }

  svg {
    margin-left: 15em;
    width: 761.6px;
    height: 769.6px;
  }

  /* Card  */

  .project-container {
    width: 500px;
    height: 600px;
    font-size: 1rem;
  }

  .project-container .project-image {
    height: 246.6px;
    width: 400px;
  }

  .project-name {
    font-size: 2rem;
  }

  .project-description {
    font-size: 1.5rem;
    margin: 1rem 2rem;
  }
}

@media only screen and (min-width: 1500px) and (max-width: 2600px) {
  .container {
    height: 78vh;
  }

  svg {
    margin-left: 10rem;
  }
}
@media only screen and (min-width: 2601px) {
  .container {
    height: 90vh;
    margin-bottom: 2em;
  }
  svg {
    height: 1428px;
    width: 1443px;
    margin-left: 35rem;
  }
}
